body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #728277;
    font-family: 'Roboto', sans-serif;
}

.title{
    font-size: 30px;  
    font-weight: 100; 
}